body {
    background-image : url(http://cdn.pcwallart.com/images/shapes-artwork-wallpaper-1.jpg);
    background-repeat: no-repeat;
    font-family : arial;

}
h1{
    color : white;
}
p{
    background :#333;
    color:white;
    padding : 5px 0px;

}