<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>

    <!-- Ensure that everything scales appropriately on a mobile device -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">

    <!-- Let's borrow a cool looking Font from Google -->

</head>

<body>
<div id="gameArea">
    <!-- This is where the templates defined below will be used -->
    <canvas id="myCanvas" width="1000" height="1000" style="border:1px solid #000000;">
    </canvas>

</div>

<script src="https://cdn.socket.io/socket.io-1.4.5.js"></script>
<script src="http://code.jquery.com/jquery-1.11.1.js"></script>
<script src="https://hammerjs.github.io/dist/hammer.js"></script>




<script>
    var socket = io();
    var e1 = document.getElementById("myCanvas");
    var canvas = e1.getContext("2d");

    canvas.font = '30px Arial';
    socket.on('hostCreateNewGame', function(data){
        console.log(data);
    }
    );
    socket.on('newPosition',function(data){
        canvas.clearRect(0,0,500,500);

        obj = {x:50,y:50,w:70,h:70};
        for(var i = 0;i < data.length;i++) {
            canvas.fillText(data[i].number, data[i].x, data[i].y);


        }
    });
        document.onkeydown - function(event){
            if (event.keyCode==68)
                socket.emit('keyPress',{inputId:'right',state:true});
            else if(event.keyCode === 83)   //s
                    socket.emit('keyPress',{inputId:'down',state:true});
                else if(event.keyCode === 65) //a
                    socket.emit('keyPress',{inputId:'left',state:true});

            else if(event.keyCode === 87) // w
                socket.emit('keyPress',{inputId:'up',state:true});

        }
        document.onkeyup = function(event){
            if(event.keyCode === 68)    //d
                socket.emit('keyPress',{inputId:'right',state:false});
            else if(event.keyCode === 83)   //s
                socket.emit('keyPress',{inputId:'down',state:false});
            else if(event.keyCode === 65) //a
                socket.emit('keyPress',{inputId:'left',state:false});
            else if(event.keyCode === 87) // w
                socket.emit('keyPress',{inputId:'up',state:false});
        }



</script>
<div id="gameArea">
    <!-- This is where the templates defined below will be used -->
<button onclick="createNewGame()">Join Game</button>
</div>
</body>
</html>








</body>
</html>
